/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */

@tailwind preflight;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */


/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */

@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor..
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

.swiper-button-prev {
    position: relative !important;
    top: -235px !important;
    float: left;
}

.swiper-button-next {
    position: relative !important;
    top: -235px !important;
    float: right;
}

.hover\:shadow:hover {
    background: #4ba3ea;
    box-shadow: 0 5px 14px 6px rgba(0, 0, 0, 0.09);
    h4,
    p {
        color: #ffffff;
    }
}

.hover\:shadow:hover div:nth-child(2) {
    margin: 0 30px;
}

table tr td,
th {
    border: 1px solid #ececec;
    height: 40px;
    text-align: center;
}

.report {
    background: url('/images/report.png') center no-repeat;
    height: 144px;
    @apply .flex .items-end .justify-center;
    input {
        width: 550px;
        height: 40px;
        border: 1px solid #4ba3ea;
        margin-bottom: 30px;
    }
    button {
        width: 150px;
        height: 40px;
        background: #4ba3ea;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 30px;
    }
}

.banner-button {
    top: 60%;
    left: 20%;
    @apply absolute bg-blue text-white text-lg font-normal shadow p-pc-10 rounded-4px;
}

.more {
    @apply mx-auto border text-xs text-grey-dark rounded-px border-grey-dark p-px h-pc-25 w-pc-68 flex items-center justify-center no-underline;
}

.user-index {
    margin: 0 0.3333rem;
    padding-top: 0.5067rem;
    @apply max-w-full text-grey-dark text-sm;
    .from-group {
        height: 1.16rem;
        padding: 0 0.4133rem;
        margin-bottom: 0.2667rem;
        @apply bg-grey-lighter flex flex-row items-center justify-between;

        label {
            width: 1.8667rem;
        }
        
        input {
            height: 1.16rem;
            @apply bg-grey-lighter flex-1 w-full;
        }

        a {
            @apply no-underline text-blue-darker;
        }
    }
    button {
        height: 1.16rem;
        @apply bg-blue mx-auto w-full text-white text-sm shadow;
    }
}
.parcel-index {
    font-size: 14px;

    .parcel-menu {
        height: 0.9333rem;
        line-height: 0.9333rem;
        @apply flex items-center justify-around border-b border-grey-lighter;

        a {
            width: 2rem;
            @apply no-underline text-blue text-center;

            &.on {
                @apply border-b border-blue;
            }
        }
    }

    .parcel-date {
        height: 0.9333rem;
        @apply flex items-center justify-center border-b border-grey-lighter;
    }

    .parcel-contact {
        @apply flex flex-row;

        .parcel-channel {
            width: 2.1333rem;
            @apply border-r border-grey-lighter;
            
            li {
                list-style: none;
                height: 1.4267rem;
                text-align: center;
                line-height: 1.4267rem;
                @apply bg-grey-lightest border-b border-grey-lighter;
            }
        }

        .parcel-food {
            @apply flex-1 flex flex-col;
            
            .parcel-food-channel {

                @apply flex flex-col;

                .parcel-food-contact {
                    height: 2.32rem;
                    padding: 0 0.3733rem;

                    @apply flex flex-row items-center border-b border-grey-lighter;

                    img {
                        width: 1.52rem;
                        height: 1.52rem;
                        margin-right: 0.3733rem;
                    }

                    .parcel-food-desc {
                        height: 2.32rem;
                        width: 2.6667rem;
                        @apply overflow-hidden flex flex-col items-start justify-center;

                        h4 {
                            width: 2.6667rem;
                            @apply font-normal truncate;
                        }
                        p {
                            height: 2em;
                            line-height: 1em;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}