/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */

@tailwind preflight;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */


/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */

@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor..
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
[v-cloak] {
    display: none;
}
select {
    background-color:transparent; 
    border-color:transparent;
    -webkit-appearance:none;
}
.swiper-button-prev {
    position: relative !important;
    top: -235px !important;
    float: left;
}

.swiper-button-next {
    position: relative !important;
    top: -235px !important;
    float: right;
}

.hover\:shadow:hover {
    background: #4ba3ea;
    box-shadow: 0 5px 14px 6px rgba(0, 0, 0, 0.09);
    h4,
    p {
        color: #ffffff;
    }
}

.hover\:shadow:hover div:nth-child(2) {
    margin: 0 30px;
}

table tr td,
th {
    border: 1px solid #ececec;
    height: 40px;
    text-align: center;
}

.report {
    background: url('/images/report.png') center no-repeat;
    height: 144px;
    @apply .flex .items-end .justify-center;
    input {
        width: 550px;
        height: 40px;
        border: 1px solid #4ba3ea;
        margin-bottom: 30px;
    }
    button {
        width: 150px;
        height: 40px;
        background: #4ba3ea;
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 30px;
    }
}

.banner-button {
    top: 60%;
    left: 20%;
    @apply no-underline absolute bg-blue text-white text-lg font-normal shadow p-pc-10 rounded-4px;
}

.more {
    @apply mx-auto border text-xs text-grey-dark rounded-px border-grey-dark p-px h-pc-25 w-pc-68 flex items-center justify-center no-underline;
}

.user-form {
    margin: 0 0.3333rem;
    padding-top: 0.5067rem;
    @apply max-w-full text-grey-dark text-sm;
    .from-group {
        height: 1.16rem;
        padding: 0 0.4133rem;
        margin-bottom: 0.2667rem;
        @apply bg-grey-lighter flex flex-row items-center justify-between;

        label {
            width: 1.8667rem;
        }
        
        input, select {
            height: 1.16rem;
            @apply bg-grey-lighter flex-1 w-full;
        }

        a {
            @apply no-underline text-blue-darker;
        }
    }
    button {
        height: 1.16rem;
        @apply bg-blue mx-auto w-full text-white text-sm shadow;
    }
}
.parcel-index {
    font-size: 14px;
    @apply text-grey-darker;

    .parcel-menu {
        height: 0.9333rem;
        line-height: 0.9333rem;
        @apply flex items-center justify-around border-b border-grey-lighter bg-white relative z-10;

        a {
            // width: 2rem;
            @apply no-underline text-grey-darker text-center;

            &.on {
                @apply border-b border-blue text-blue;
            }
        }
    }

    .parcel-date {
        height: 0.9333rem;
        @apply flex items-center justify-around border-b border-grey-lighter bg-white relative z-10;

        li {
            list-style: none;

            span {
                @apply hidden;
            }
            &.on {
                width: 1rem;
                height: 0.8rem;
                text-align: center;
                @apply shadow rounded-t-4px border border-grey-lighter text-blue flex flex-col justify-around;

                span {
                    @apply block;
                }
            }
        }

        input {
            width: 100%;
            height: 100%;
        }
    }

    .parcel-contact {
        @apply flex flex-row;

        .parcel-channel {
            width: 2.1333rem;
            height: calc(100vh - 3.1199rem);
            @apply border-r border-grey-lighter;
            
            li {
                list-style: none;
                height: 1.4267rem;
                text-align: center;
                line-height: 1.4267rem;
                @apply bg-grey-lightest border-b border-grey-lighter;
            }
        }

        .parcel-food {
            height: calc(100vh - 3.1199rem);
            @apply flex-1 flex flex-col;
            
            .parcel-food-channel {

                @apply flex flex-col;

                .parcel-food-title {
                    margin: 0 0.3733rem;
                    @apply border-b border-grey-lighter;

                    strong {
                        margin-right: 0.1333rem;
                    }
                }

                .parcel-food-contact {
                    height: 2.32rem;
                    padding: 0 0.3733rem;
                    @apply flex flex-row items-center;

                    img {
                        width: 1.52rem;
                        height: 1.52rem;
                        margin-right: 0.3733rem;
                    }

                    .parcel-food-desc {
                        height: 2.32rem;
                        // width: 2.6667rem;
                        @apply flex-1 overflow-hidden flex flex-col items-start justify-center;

                        h4 {
                            width: 2.6667rem;
                            @apply truncate;
                        }
                        p {
                            height: 2em;
                            line-height: 1em;
                            overflow: hidden;
                        }
                        .parcel-food-footer {
                            @apply w-full flex flex-row justify-between items-center;

                            span {
                                @apply text-orange-dark font-normal;
                            }

                            .parcel-food-options {
                                @apply flex flex-row items-center justify-center;
        
                                .plus, .reduce {
                                    width: 0.5867rem;
                                    height: 0.5867rem;
                                    margin: 0;
                                }
        
                                span {
                                    width: 1.1467rem;
                                    @apply inline-block text-center text-grey-dark;
                                }
                            }
                        }
                    }
                }
            }
        }
        .parcel-package {
            height: calc(100vh - 1.8666rem);
            @apply flex-1 flex flex-col;

            .package-item {
                height: 2.52rem;
                padding: 0 0.4rem;
                @apply border-b border-grey-lighter bg-white flex flex-row items-center justify-between;

                img {
                    width: 1.8667rem;
                    height: 1.8667rem;
                }

                .package-item-desc {
                    padding-left: 0.4rem;
                    height: 1.8667rem;
                    @apply flex-1 flex flex-col items-start justify-around;

                    h4 {
                        max-height: 2em;
                        line-height: 1em;
                        @apply text-sm overflow-hidden;
                    }

                    p {
                        @apply text-orange;
                    }
                }

                a {
                    height: 0.72rem;
                    width: 1.3333rem;
                    @apply bg-blue shadow text-white text-sm rounded-4px no-underline flex items-center justify-center;
                }
            }

            .doctor-item {
                height: 3.6133rem;
                margin: 0 0.2rem;
                padding: 0 0.2rem;
                @apply border-b border-grey-lighter flex flex-row justify-between shadow mt-1;

                .doctor-item-left {

                    @apply flex flex-col items-center justify-between;
                    img {
                        width: 1.7333rem;
                        height: 1.7333rem;
                        margin-top: 0.24rem;
                        border-radius: 50%;
                    }
                    h4 {
                        height: 1.19rem;
                        @apply flex items-center;
                    }
                }

                .doctor-item-desc {
                    width: 7.0667rem;
                    margin-top: 0.24rem;
                    @apply flex flex-col items-start justify-between;

                    .doctor-item-right {
                        height: 2.16rem;
                        @apply border-b border-grey-lighter flex flex-col justify-around;

                        .doctor-item-top {
                            height: 1.0667rem;
                            width: 7.0667rem;
                            @apply flex flex-row justify-between items-center;

                            .name-title {
                                height: 1.0667rem;
                                @apply flex flex-col items-start justify-around;
                                span {
                                    @apply text-grey-lighter font-normal;
                                }
                            }

                            a {
                                height: 0.72rem;
                                min-width: 2rem;
                                @apply bg-blue shadow text-white text-sm rounded-4px no-underline flex items-center justify-center;
                            }
                        }

                        p {
                            line-height: 1em;
                            height: 3em;
                            overflow: hidden;
                            @apply text-xs text-grey-darker font-normal;

                            strong {
                                @apply text-sm text-grey-darkest;
                            }
                        }
                    }

                    .depart {
                        width: 7.0667rem;
                        @apply flex-1 flex items-center text-grey-darker justify-between;

                        span {
                            padding: 0.1333rem 0.2667rem;
                            @apply bg-grey-lighter rounded-4px;
                        }
                    }
                }

            }

            .order-item {
                height: 2.8533rem;
                padding: 0 0.4rem;
                border-top-width: 0.4rem;
                @apply border-b border-grey-lighter flex flex-col items-center justify-between;

                .order-item-top {
                    width: 100%;
                    height: 1.4267rem;
                    @apply flex flex-row items-center justify-between border-b border-grey-lighter;

                    .order-item-desc {
                        @apply flex-1 flex flex-col items-start justify-around;
                    }

                    .order-item-desc p {
                        margin-top: 5px;
                    }

                    a {
                        height: 0.72rem;
                        width: 1.3333rem;
                        @apply bg-blue shadow text-white text-sm rounded-4px no-underline flex items-center justify-center;
                    }
                }

                .order-item-bottom {
                    width: 100%;
                    height: 1.4267rem;
                    @apply flex flex-row items-center justify-between;
                    p {
                        @apply flex-1;
                    }
                }
            }
        }
    }

    .parcel-footer {
        height: 1.2533rem;
        @apply fixed pin-b bg-white flex flex-row items-center justify-between z-30 border-t border-grey-lighter;

        .parcel-cart {
            @apply flex flex-row items-center justify-between;
            
            .parcel-cart-img {
                left: 0.2267rem;
                bottom: 0.1733rem;
                @apply relative;

                &::after {
                    content: attr(data-count);
                    width: 0.4rem;
                    height: 0.4rem;
                    top: 0.1rem;
                    right: 0.1rem;
                    font-size: 10px;
                    @apply absolute block rounded bg-orange-dark text-white flex items-center justify-center;
                }

                img {
                    width: 1.4133rem;
                    height: 1.4133rem;
                }
            }

            span {
                margin-left: 0.44rem;
                @apply text-orange-dark font-normal text-lg;
            }
        }

        button {
            width: 3.3333rem;
            @apply bg-blue text-white h-full;
        }
    }
}
.parcel-detail {
    background: rgba(95, 95, 95, 0.5);
    @apply fixed flex items-center justify-center pin z-40;

    .food-detail {
        width: 8.4rem;
        max-height: calc(100vh - 4.7333rem);
        @apply bg-white flex flex-col justify-between rounded-4px;

        .food-image {
            width: 8.4rem;
            height: 8.4rem;
            @apply rounded-t-4px;
        }

        .food-close {
            @apply absolute pin-r pin-t;
        }

        h4 {
            margin: 0 0.4rem;
            margin-top: 0.4rem;
            height: 2em;
            @apply font-normal text-lg truncate;
        }

        p {
            margin: 0 0.4rem;
            height: 2em;
            line-height: 1em;
            overflow: hidden;
            height: 3em;
            @apply text-sm;
        }

        .food-footer {
            margin: 0 0.4rem;
            margin-bottom: 0.4rem;
            margin-top: 0.1067rem;
            @apply flex flex-row justify-between items-center;

            span {
                @apply text-lg text-orange-dark;
            }

            button {
                padding: 0.2667rem 0.32rem;
                @apply bg-blue text-white text-lg rounded-4px shadow;
            }
        }
    }
}
.cart {
    background: rgba(95, 95, 95, 0.5);
    @apply fixed flex items-end justify-center pin z-20;

    .cart-detail {
        margin-bottom: 1.2533rem;
        @apply bg-white w-full;

        .cart-top {
            padding: 0 0.4rem;
            height: 1.0667rem;
            @apply flex flex-row justify-between items-center bg-grey-lighter;

            h4 {
                padding-left: 0.2667rem;
                @apply border-l-4 border-blue text-lg font-normal;
            }

            span {
                img {
                    margin-right: 0.24rem;
                }
                @apply text-xs flex flex-row text-grey items-center justify-center;
            }

        }

        .cart-bottom {
            height: 0.5333rem;
            @apply text-1xs text-center bg-grey-lighter flex items-center justify-center text-grey;
        }
    }
}

.cart-food-item {
    height: 1.28rem;
    margin: 0 0.4rem;
    @apply flex flex-row text-sm items-center justify-between;

    h4 {
        width: 5.3333rem;
        @apply truncate;
    }

    span {
        @apply text-lg text-orange-dark;
    }

    .cart-food-options {
        @apply flex flex-row items-center justify-center;
        
        .plus, .reduce {
            width: 0.5867rem;
            height: 0.5867rem;
            margin: 0;
        }
        
        span {
            width: 1.1467rem;
            @apply inline-block text-center text-grey-dark;
        }
    }
}
.order-show {
    margin-top: 0.5333rem;
    @apply border-t border-grey-lighter text-sm;

    h4 {
        margin: 0 0.4rem;
        height: 1.1067rem;
        line-height: 1.1067rem;
        @apply border-b border-grey-lighter;
    }

    .food-item {
        margin: 0 0.4rem;
        @apply flex flex-row text-sm text-grey items-center justify-between;

        h4 {
            width: 5.3333rem;
            @apply font-normal truncate border-0 m-0;
        }

        span {
            @apply text-grey-darkest;
        }
    }

    .sum {
        margin: 0 0.4rem;
        height: 1.0933rem;
        line-height: 1.0933rem;
        @apply border-t border-b border-grey-lighter text-blue block text-right;
    }
}
.pays {
    padding: 0 0.4rem;
    @apply text-sm text-grey-darkest border-b border-grey-lighter;

    .pay {
        height: 1.4133rem;
        @apply flex flex-row justify-between items-center;
        
        p {
            margin-left: 0.4rem;
            @apply flex-1 text-left;
        }
    }

    img {
        width: 0.48rem;
        height: 0.48rem;
    }
}

.topay {
    @apply text-center;
    
    button {
        margin-top: 0.8667rem;
        width: 3.3333rem;
        height: 0.72rem;
        @apply bg-blue shadow text-white text-sm;
    }
}

.pay-model {
    background: rgba(95, 95, 95, 0.5);
    @apply fixed flex items-center justify-center pin z-20 text-sm;

    .model-desc {
        width: 6.6667rem;
        height: 6.6667rem;
        @apply bg-white shadow rounded-4px flex flex-col items-center justify-center;

        button {
            margin-top: 0.8667rem;
            width: 3.3333rem;
            height: 0.72rem;
            @apply bg-blue shadow text-white text-sm;
        }
    }
}

.package-detail {

    img.image {
        width: 100%;
        height: 5.6133rem;
    }
    .title {
        height: 5.6133rem;
        @apply pin-t pin-l absolute flex items-end;

        h4 {
            height: 0.9333rem;
            padding-left: 0.4rem;
            line-height: 0.9333rem;
            background: rgba(95, 95, 95, 0.5);
            @apply truncate text-white text-sm font-normal w-screen;
        }
    }
    .gender {
        margin: 0 0.4rem;
        height: 1.2rem;
        @apply flex flex-row items-center justify-between text-sm border-b border-grey-lighter;

        img {
            width: 0.5733rem;
            height: 0.5733rem;
        }
        span {
            margin-right: 0.44rem;
            @apply flex-1 text-right text-orange;
        }

        select {
            @apply bg-white text-center;
        }
    }
    .contact {
        padding: 0.4rem;
        @apply text-sm border-b border-grey-lighter;
    }

    .pack-pay {
        height: 1.6rem;
        padding: 0 0.4rem;
        @apply fixed pin-b border-t border-grey-lighter flex flex-row items-center justify-between w-full;

        span {
            @apply text-orange text-xl;
        }

        button {
            height: 1.2rem;
            width: 2.6667rem;
            @apply bg-blue shadow text-lg text-white
        }
    }
}
.promoter-content {
    height: calc(100vh - 45px);
}
.promoter-content-record {
    height: calc(100vh - 150px);
}
.promoter {
    @apply text-sm text-grey-dark;

    .content {
        height: 1.2rem;
        @apply text-grey-dark flex flex-row justify-around items-center border-b border-grey-lighter;

        span {
            text-align: center;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        &.title {
            @apply text-grey-darkest relative z-10 bg-white;
            border-bottom-width: 10px;
        }

        button, a {
            width: 1.4rem;
            height: 0.7rem;
            @apply bg-blue shadow text-white text-sm;
        }
    }


    .promoter-info {
        padding: 0 0.4rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        @apply flex flex-row items-center justify-between border-b border-grey-lighter;
        border-bottom-width: 10px;

        img {
            width: 1.7333rem;
            height: 1.7333rem;
            border-radius: 50%;
        }

        .promoter-desc {
            height: 1.7333rem;
            margin-left: 0.4rem;
            @apply flex flex-col flex-1 items-start justify-around;

            h4 {

                strong {
                    @apply text-grey-darkest text-base;
                }
            }

            span {
                padding: 0.1rem 0.2rem;
                margin-left: 0.1rem; 
                @apply bg-grey-lighter rounded-4px;
            }
        }
    }

    .promoter-menu {
        margin: 0 0.4rem;
        a {
            height: 1.0667rem;
            @apply no-underline text-grey-darkest border-b border-grey-lighter flex flex-row justify-between items-center;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
.user-index {
    @apply text-sm;

    .user-desc {
        padding: 0.4rem;
        
        @apply flex flex-row items-center justify-around border-b border-grey-lighter;
        border-bottom-width: 10px;
        

        img.avatar {
            width: 1.7333rem;
            height: 1.7333rem;
            border-radius: 50%;
        }

        .user-info {
            height: 1.5rem;
            margin-left: 0.4rem;
            @apply flex-1 flex flex-col items-start justify-around;

            span, p {
                @apply font-normal text-grey-dark;
            }
        }
    }

    .user-account {
        list-style: none;
        height: 1.8rem;
        @apply flex flex-row items-center justify-around border-b border-grey-lighter;

        a {
            height: 1.4rem;
            @apply no-underline flex flex-col items-center justify-between border-r border-grey-lighter w-1/3 text-xs text-grey-darker;
        }

        a:nth-last-child(1) {
            border-right: 0;
        }
    }

    .user-menu {
        padding: 0 0.4rem;
        a {
            height: 1.3333rem;
            @apply no-underline flex flex-row items-center justify-between border-b border-grey-lighter text-grey-darker;

            p {
                margin-left: 0.4rem;
                @apply flex-1;
            }
        }
    }
}
.is-danger {
    @apply text-red text-sm;
}
$notie-color-success: #57BF57;
$notie-color-warning: #D6A14D;
$notie-color-error: #E1715B;
$notie-color-info: #4D82D6;
$notie-color-neutral: #A0A0A0;
// See all overwriteable variables in src/notie.scss

// Then import notie:
@import './node_modules/notie/src/notie';
.notie-container {
    @apply text-lg;
}
.notie-textbox, .notie-button {
    @apply p-1;
}
@import "_topic_body"